html body {
  height: 100%;
  width: 100%;
}
.left img {
  width: 32px;
  height: 23px;
}

.container {
  max-width: 80vw;
  background-color: aqua;
  margin: auto;
}
nav ul li {
  list-style: none;
  padding: 0px 8px;
}
