@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left img {
  width: 32px;
  height: 23px;
}
.container {
  padding: 0 10vw;
}
nav {
  font-size: 12px;
  padding-top: 14px;
}
nav ul li {
  list-style: none;
  padding: 0px 8px;
}
.search {
  width: 24vw;
  padding: 7px 17px;
  border: 0.5px solid gray;
  border-radius: 5px;
  background-color: #f7f8fd;
}

.section1 {
  background-color: #f2f2f2;
}

.top-margin {
  margin-top: 14px;
}
.img-width {
  width: 40vw;
}
.img-width1 {
  width: 101.5%;
}
.photos {
  width: 13.3vw;
}
.itemImg {
  width: 12vw;
  margin: 6px 7px;
}
.flex-wrap {
  flex-wrap: wrap;
}
footer {
  padding: 23px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
